.container {
  border: 1px solid transparent;
  align-items: center;
  max-width: 800px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
