.cart {
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.product {
  margin: 10px;
  background-color: pink;
  width: 180px;
}

.product button {
  background-color: rgb(199, 58, 81);
  color: wheat;
  width: 183px;
  height: 30px;
  cursor: pointer;
}
