body {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 10px auto;
  color: rgb(199, 58, 81);
  font-size: 50px;
  font-style: italic;
}

h2 {
  color: rgb(199, 58, 81);
}

.search {
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.search button {
  background-color: rgb(199, 58, 81);
  color: wheat;
  cursor: pointer;
}

.price {
  width: 100%;
  background-color: rgb(199, 58, 81);
  color: wheat;
  font-size: 30px;
}

.additem {
  margin: 10px;
  background-color: pink;
  width: 180px;
}

.plus {
  display: flex;
  align-items: center;
}

.span {
  display: flex;
  color: pink;
  align-items: center;
}
